body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
}

#root{
	width: inherit;
	height: inherit;
	background-color: #2897B7;
}

.game{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row-reverse;

}

.game-board{
	padding: 2.5%;
	width: 75%;
	height: 85%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center

}

/* pirated off internet for quick fix */
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.game-info{
	padding: 2.5%;
	width: 20%;
	height: 75%;
	overflow: scroll;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: center;


}

.game-info .title{
	width: 100%;
	padding: 1%;
	text-align: center;

	border-top: black solid;
	border-bottom: black solid;
}

.game-info ol{
	padding: 0;
}

.game-info ol li{
	list-style: none;
}

.game-info ol li button{
	width: 100%;
	color: #f8f8f8;
	background-color: black;
	border: transparent solid;
	padding: 2.5%;
	margin: 2.5% 0;

	transition-property: border;
	transition-duration: 0.5s;

}

.game-info .highlighted{
	border: solid #FF3B3F;
}

#turn{
	width: 75%;
	height: 10%;

	padding: 1%;
	font-size: 45px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;


}

#status-title{
	font-size: 20px;
}



.red{
	color: #FF3B3F;

	transition-property: color;
	transition-duration: 0.5s;
}

.black{
	color: black;

	transition-property: color;
	transition-duration: 0.5s;
}

.board{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 90%;
	margin: 2.5% 0;
}

.board-row{
	width: 100%;
	height: auto;

	display: flex;
	align-items: center;
	justify-content: center;
}

.square{
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0;
	border: white solid 1px;
	color: white;

}

.R{
	background: #F4A460;
}

.B{
	background: black;
}

.piece-value{
	display: none;
}

.piece{
	font-size: 30px;
}

.black-piece{
	color: black;
}

.red-piece{
	color: #FF3B3F;
}

@media only screen and (max-width: 767px){
	.game{
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

	}

	.game-board{
		padding: 2.5%;
		width: 85%;
		height: 45%;

	}

	.game-info{
		width: 85%;
		height: 45%;

		align-items: center;
	}

	.game-info ol{
		width: 50%;
	}

	.game-info button{
		width: 100%;
		padding: 5% 0;

	}

	.piece{
		font-size: 20px;
	}

	#turn{
		font-size: 25px;
	}

	#status-title{
		font-size: 15px;
	}
}

